# Entornos virtuales de Python
venv/
.venv/
env/
.env/

# Archivos de caché y compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Archivos de configuración de IDE y editores
.vscode/
.idea/
*.swp

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos y carpetas de desarrollo y pruebas
desarrollo/
bd_pdf/
graph_pruebas/
Indexacion_hibrida/
pruebas.ipynb
preguntas_prueba.txt
*.log
README.md

# Archivos de Git
.git/
.gitignore

# Archivos sensibles
.env

# Archivos de configuración de Docker
docker-compose.yml
Dockerfile
Dockerfile.backend
Dockerfile.frontend
.dockerignore